@using FoodSearch.Data.Mapping.Entities
@model FoodSearch.BusinessLogic.Domain.RestraurantAdmin.Models.EmployeeData

@{
    ViewBag.Title = "FoodSearch";
    Layout = "~/Areas/RestaurantAdmin/Views/Shared/_Layout.cshtml";
}

@section HeadSection
{
    @Styles.Render("~/css/restaurantAdmin/panel")
    <link rel="stylesheet" href="~/Content/bootstrap-notify.css"/>
}

@section ScriptSection
{
    @Scripts.Render("~/js/restaurantAdmin/employee")
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/Admin/RestaurantAdmin/websocket.js"></script>
    @if (User.IsInRole(UserTypes.RestaurantAdmin.ToString()))
    {
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=pl"></script>
        <script src="~/Scripts/maps.google.polygon.constainsLatLng.js"></script>
        @Scripts.Render("~/js/restaurantAdmin/admin")
    }
}

<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/Home/GetImage?imageId=@Model.RestaurantLogoId" class="img-circle" alt="@Model.RestaurantName" />
                </div>
                <div class="pull-left info">
                    <p>Witaj,</p>
                    <p>@string.Format("{0} {1}", Model.FirstName, Model.LastName)</p>
                </div>
            </div>
            
            <ul class="sidebar-menu">
                <li navigation-item>
                    <a href="/RestaurantAdmin#/dashboard">
                        <i class=" fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li navigation-item>
                    <a href="/RestaurantAdmin#/newOrders">
                        <i class="fa fa-exclamation"></i> <span>Zamówienia (nowe)</span>
                    </a>
                </li>
                <li navigation-item>
                    <a href="/RestaurantAdmin#/pendingOrders">
                        <i class="fa fa-edit"></i> <span>Zamówienia</span>
                    </a>
                </li>
                <li navigation-item>
                    <a href="/RestaurantAdmin#/dishes">
                        <i class="fa fa-cutlery"></i> <span>Dania</span>
                    </a>
                </li>
                <li navigation-item>
                    <a href="/RestaurantAdmin#/dishGroups">
                        <i class="fa fa-book"></i> <span>Grupy dań</span>
                    </a>
                </li>
                <li navigation-item>
                    <a href="/RestaurantAdmin#/cuisines">
                        <i class="fa fa-list"></i> <span>Kuchnie</span>
                    </a>
                </li>
                
                @if (User.IsInRole(UserTypes.RestaurantAdmin.ToString()))
                {
                    <li navigation-item>
                        <a href="/RestaurantAdmin#/restaurant">
                            <i class="fa fa-cog"></i> <span>Restauracja</span>
                        </a>
                    </li>
                    <li navigation-item>
                        <a href="/RestaurantAdmin#/openingHours">
                            <i class="fa fa-clock-o"></i> <span>Godziny otwarcia</span>
                        </a>
                    </li>
                    <li navigation-item>
                        <a href="/RestaurantAdmin#/deliveryRange">
                            <i class="fa fa-map-marker"></i> <span>Obszar dostawy</span>
                        </a>
                    </li>
                    <li navigation-item>
                        <a href="/RestaurantAdmin#/opinions">
                            <i class="fa fa-comments"></i> <span>Opinie</span>
                        </a>
                    </li>
                    <li navigation-item>
                        <a href="/RestaurantAdmin#/reports">
                            <i class="fa fa-bar-chart-o"></i> <span>Raporty</span>
                        </a>
                    </li>
                    <li navigation-item>
                        <a href="/RestaurantAdmin#/employees">
                            <i class="fa fa-user"></i> <span>Pracownicy</span>
                        </a>
                    </li>
                }
            </ul>
        </section>
    </aside>

    <div class="notifications top-right"></div>
    <div error-alert></div>

    <div ng-view>
        
    </div>
</div>


<script type="text/ng-template" id="dashboardTemplate">
    @{ Html.RenderPartial("_Dashboard"); }
</script>

<script type="text/ng-template" id="newOrdersTemplate">
    @{ Html.RenderPartial("_NewOrders");}
</script>

<script type="text/ng-template" id="pendingOrdersTemplate">
    @{ Html.RenderPartial("_PendingOrders");}
</script>

<script type="text/ng-template" id="dishesTemplate">
    @{ Html.RenderPartial("_Dishes");}
</script>

<script type="text/ng-template" id="dishGroupsTemplate">
    @{ Html.RenderPartial("_DishGroups");}
</script>

<script type="text/ng-template" id="cuisinesTemplate">
    @{ Html.RenderPartial("_Cuisines");}
</script>


@if (User.IsInRole(UserTypes.RestaurantAdmin.ToString()))
{
    <script type="text/ng-template" id="restaurantTemplate">
        @{ Html.RenderPartial("_Restaurant");}
    </script>

    <script type="text/ng-template" id="openingHoursTemplate">
        @{ Html.RenderPartial("_OpeningHours"); }
    </script>

    <script type="text/ng-template" id="deliveryRangeTemplate">
        @{ Html.RenderPartial("_DeliveryRange"); }
    </script>

    <script type="text/ng-template" id="opinionsTemplate">
        @{ Html.RenderPartial("_Opinions"); }
    </script>

    <script type="text/ng-template" id="reportsTemplate">
        @{ Html.RenderPartial("_Reports"); }
    </script>

    <script type="text/ng-template" id="employeesTemplate">
        @{ Html.RenderPartial("_Employees"); }
    </script>
}