@using FoodSearch.Presentation.Web.Site.Models
@model FoodSearch.Presentation.Web.Site.Models.RestaurantPageModel

@{
    ViewBag.Title = Model.RestaurantDetails.RestaurantName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ScriptSection
{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=pl"></script>
    <script src="~/Scripts/starr.min.js"></script>
    <script src="~/Scripts/Frontend/RestaurantPage.min.js"></script>
}

<div class="row">
    <div class="col-lg-12 col-xs-12" id="restaurantPage">
        <div class="well">
            <div class="page-header">
                <h1>@Model.RestaurantDetails.RestaurantName</h1>
            </div>
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#info" aria-controls="info" role="tab" data-toggle="tab">Informacje</a>
                    </li>
                    <li role="presentation">
                        <a href="#menu" aria-controls="menu" role="tab" data-toggle="tab">Menu restauracji</a>
                    </li>
                    <li role="presentation">
                        <a href="#opinionsTab" aria-controls="opinionsTab" role="tab" data-toggle="tab">Opinie</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="info">
                        @{ Html.RenderPartial("_RestaurantInfo", new RestaurantInfoModel()
                           {
                               RestaurantDetails = Model.RestaurantDetails,
                               OpeningHours = Model.OpeningHours
                           });
                        }
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="menu">
                        @foreach (var dg in Model.DishGroups)
                        {
                            <fieldset>
                                <legend>@dg.Name</legend>
                            </fieldset>
                            <div class="list-group">
                                @foreach (var d in dg.Dishes)
                                {
                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col-lg-2 col-xs-2">
                                                <img src="@Url.Action("GetImage", "Home", new {area = "", imageId = d.ImageId})" style="max-height: 96px; max-width: 96px;" />
                                            </div>
                                            <div class="col-lg-10 col-xs-10">
                                                <h4>@d.Name</h4>
                                                <h5>@d.Price.ToString("0.00") zł.</h5>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="opinionsTab" data-rid="@Model.RestaurantDetails.RestaurantId">
                        @{Html.RenderPartial("_Opinions", Model.UserCommented);}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
