@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="FoodSearch.RestaurantAdmin">
<head>
    <meta charset="UTF-8">
    <title>FoodSearch | Restauracja</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Admin/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/Admin/AdminLTE.css" />
    <link rel="stylesheet" href="~/Content/Selectize/css/selectize.css" />
    @RenderSection("HeadSection", false)
</head>
<body class="skin-blue">
    <header class="header">
        <a href="@Url.Action("Index", "Home", new {area = "RestaurantAdmin"})" class="logo">
            FoodSearch
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    @Html.Action("UserMenu", "Home", new {area = "RestaurantAdmin"})
                </ul>
            </div>
        </nav>
    </header>
    @RenderBody()

    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Content/Selectize/js/standalone/selectize.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-filter.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/app.min.js"></script>
    @RenderSection("ScriptSection", false)
    
</body>
</html>