@model FoodSearch.BusinessLogic.Domain.RestraurantAdmin.Models.EmployeeData

<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-user"></i>
        <span>@string.Format("{0} {1}", Model.FirstName, Model.LastName) <i class="caret"></i></span>
    </a>
    <ul class="dropdown-menu">

        <li class="user-header bg-light-blue">
            <img src="/Home/GetImage?imageId=@Model.RestaurantLogoId" class="img-circle" alt="@Model.RestaurantName" />
            <p>
                @string.Format("{0} {1}", Model.FirstName, Model.LastName)
                <small>@Model.RestaurantName</small>
            </p>
        </li>

        <li class="user-footer">
            <div class="pull-right">
                <a href="@Url.Action("Logout", "Account", new {area = "RestaurantAdmin"})" class="btn btn-default btn-flat">Wyloguj</a>
            </div>
        </li>
    </ul>
</li>